.gender, .married {
  display: inline-block;
  margin-right: 15px;
}

.custom-radio label.custom-control-label {
  font-weight: normal;
}

#btn {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.container-table {
  width: 80%;
  margin: 50px auto;
}

.header-table, .modal-header {
  background-color: #555;
  color: #fff;
}

.btn-success {
  margin: 30px 0 40px 0;
}

#tombol {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

#edit {
  background-color: #28A745;
  border: 1px solid #28a745;
}

#edit:hover {
  background-color: #208537;
}

#example1 td a.delete:hover {
  color: red;
}

#example1 td a i {
  font-size: 23px;
}

#example1 td a.edit:hover {
  color: rgb(25,255,25);
}

.content-wrapper {
  padding-bottom: 100px;
}

.btn-danger {
  margin: 40px auto;
  width: 50%;
}
